body {
    background-color: rgb(92, 92, 92);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.align {
    text-align: center;
    color: rgb(150, 150, 150);
}

div {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

audio:hover, audio:focus, audio:active {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

a h3{
    text-align: center;
    color: thistle;
}

.songs_saved {
    text-align: center;
}

.favorite-artists{
    text-align: center;
    display: block;
}