body {
    background-color: rgb(126, 126, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.align {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

img {
    width: 400px;
    border-radius: 10px;
}
