<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Spotify Genius App</title>
</head>

<body>

    <p>{{data}}</p>
    <h1 class="align">
        {{data[0]}}
    </h1>

    <h2 class="align">{{data[1]}}</h2>

    <div>
        <img src={{data[2]}} alt="Song Preview">
    </div>

    <div>
        <audio controls>
            <source src="{{data[3]}}">
        </audio>
    </div>


</body>

</html>