<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Spotify Genius App</title>
</head>

<body>

    <!-- Song Title -->
    <h1 class="align">
        {{data[0]}}
    </h1>

    <!-- Artist of Song -->
    <h2 class="align">{{data[1]}}</h2>

    <!-- Song album cover image or single cover image -->
    <div>
        <img src={{data[2]}} alt="Song Image Preview">
    </div>

    <!-- Song Audio URL Preview -->
    <div>
        <audio controls>
            <source src="{{data[3]}}">
        </audio>
    </div>

    <!-- Link to Artist Genius Preview -->
    <a href="{{genius_url}}">
        <h3>Genius Lyrics</h3>
    </a>

    <!-- Songs Library -->
    <h1>Library list:</h1>
    {% for i in range(length) %}
        <p>{{name[i]}}</p>
    {% endfor %}
    3MZsBdqDrRTJihTHQrO6Dq
    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Artist ID">
        <input type="submit" value="Submit">
    </form>
    
</body>

</html>