<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Spotify Genius App</title>
</head>

<body>
    <!-- Username's Song Explorer -->
    <form action='/logout' method="GET">
        <button>Logout</button>
    </form>

    <div>
        <h1>{{username}}'s Song Explorer</h1>
    </div>

    <div>
        <h2>Looks like you don't have any songs saved below</h2>
    </div>

    <div>
        <h3>Save a favorite Artist ID for later</h3>
    </div>

    <!-- Songs Library -->
    <div>
        <h1>Library list:</h1>
    </div>

    {% for i in range(length)%}
        <p class="favorite-artists">{{artists[i]}}</p>
    {% endfor%}
    

    <div>

        <div>
            <form method="POST" action="/index">
                <input type="text" name="artist_id__save" placeholder="Artist ID">
                <input type="submit" value="Save">
            </form>
        </div>
    </div>

    <!-- Song Title -->
    <h1 class="align">
        {{song_name}}
    </h1>

    <!-- Artist of Song -->
    <h2 class="align">{{artist_name}}</h2>

    <!-- Song album cover image or single cover image -->
    <div>
        <img src={{img_url}} alt="Song Image Preview">
    </div>

    <!-- Song Audio URL Preview -->
    <div>
        <audio controls>
            <source src="{{song_preview}}">
        </audio>
    </div>

    <!-- Link to Artist Genius Preview -->
    <a href="{{genius_lyrics}}">
        <h3>Genius Lyrics</h3>
    </a>

</body>

</html>