<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form.css">
    <title>Spotify App Login</title>
</head>
<body>
  <form action="/" method="GET">
    <button>Register</button>
  </form>
  
    <form method="POST" action="/index" style="border:1px solid #ccc">
        <div class="container">
          <h1>Login to your spotify account</h1>
          <p>Enter your credentials to access your account</p>
          <hr>
          <div>
            <label for="username"><b>Username</b></label>
          </div>
          <input type="text" placeholder="Enter Username" name="username" required>

          <div class="clearfix">
            <button type="submit" class="signupbtn">Login</button>
          </div>
        </div>
      </form>
</body>
</html>