<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/form.css">
  <title>Spotify App Login</title>
</head>

<body>
  <form method="GET" action="/login">
    <button>Login</button>
  </form>
  
  <form method="POST" action="/login" style="border:1px solid #ccc">
    <div class="container">
      <h1>Register and sign up!</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
      
      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>

</body>

</html>